# Backend API URL
VITE_API_URL=http://localhost:8000/api

# Public Registration Agent Credentials
# These are used for public registrations when a user is not logged in
VITE_PUBLIC_AGENT_USERNAME=
VITE_PUBLIC_AGENT_PASSWORD=
